body {
	background-image: url("Pics/navbar.png");
	background-size: cover;
	overflow-y: scroll;
	overflow-x: hidden;
}
nav{
	width: 100%;
	float: center;
}
.menu{
	margin: 0;
	padding: 8px;
	height: auto;
	background-color: #79a6ad7c;
}

.menu li{
	display: inline;
	
}
.menu1{
	margin: 0;
	padding: 2px;
	height: 2px;

	background-color: #2e8b66;
}
.menu1 li{
	display: inline;
}

.button{
	font-family: Arial;
	font-size: 1em;
	font-style: none;
	color: #ffffff;
	padding: 8px;
	text-decoration: none;
	cursor: pointer;
}
.button:link{
		background-color: #ffffff00;
		color: #ffffff;
}

.button:hover{
		background-color: #7ef0ff52;
}
.button1{
	font-family: Arial;
	cursor: pointer;
	font-size: 1em;
	font-style: none;
	color: #ffffff;
	padding: 8px;
	text-decoration: none;
}
.button1:link{
		background-color: #313634;
		color: #ffffff;
}

.button1:hover{
	background-color: #d32f2f;	
	background-image: url("Pics/backdrop.png");
	background-position: center;
	background-size: cover;
}

.GameTest{
	font-family: Arial;
	cursor: pointer;
	font-size: 1em;
	font-style: none;
	color: #ffffff;
	padding: 8px;

	top: 300px;
	left: 400px;
	position: absolute;
	text-decoration: none;
}
.GameTest:link{
		background-color: #222524;
		color: #ffffff;
}

.GameTest:hover{
	background-color: #d32f2f;	
	background-image: url("Pics/backdrop.png");
	background-position: center;
	background-size: cover;
}

p{
	color:rgb(212, 212, 212);
}
.p1{
	color: rgb(173, 166, 166);
	position: absolute;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-button{
	border-radius: 50px;
}
 
::-webkit-scrollbar-track {

    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 12px;
}

img {
	display:inline-block;
	width: 50%;
	height: auto;
  }

  h1{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.logo-container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 150px;
}

.logo {
	width: 100%;
  max-width: 600px;      
  height: auto;
}

.navbar {
  width: 100%;
  background-color: #ffffff28;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;   
  padding: 20px ;       
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav-buttons {
  margin:  15px;
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 10px;
  background-color:  rgba(0,0,0,0.5);
}

.site-title {
  margin-top: 10px;     
  font-size: 2.5rem;
}

.project-card {
  display: flex;
  color: #fff;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.9); 
  margin: 30px 0;
  border-radius: 10px;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  max-width: 450px;
  height: auto;
}

.project-info {
  padding: 20px;
  flex: 1; 
}

.project-info h3 {
  margin-top: 0;
}

.project-links a {
  margin-right: 15px;
  text-decoration: none;
  color: #007acc;
  font-weight: bold;
}

@media (max-width: 768px) {
  .project-card {
    flex-direction: column; 
  }

  .project-image img {
    max-width: 100%;
  }
}

.contact-section {
  text-align: center;       
  margin: 0 auto;            
  padding: 40px 15px;
  max-width: 600px;         

  color: #fff;
  background-color: #52818a3f;
  border-radius: 15px;
}

.contact-link{
	color: #222524;
}